.header-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  background-color: #c026b6;
}

.header-logo {
  width: 150px;
}

.header-score-timer-container {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .header-score-timer-container {
    width: 50%;
  }
}

.score {
  color: #ffffff;
  font-size: 17px;
}

.span-score {
  color: #fec653;
  font-size: 20px;
  font-weight: bold;
}

.header-timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-logo {
  width: 20px;
}

.timer {
  color: #fec653;
  font-size: 20px;
  font-weight: bold;
  margin-left: 4px;
}
